python/*.pyc
lists/brew-installed-list.txt
dotFiles/environment.sh
SublimeSettings/Package Control.cache/
SublimeSettings/Package Control.last-run
SublimeSettings/Package Control.merged-ca-bundle
SublimeSettings/oscrypto-ca-bundle.crt
